*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: system-ui, 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
  }
  .para{
    background-color: #eff4f7;
    text-align: center;
    padding: 9px;
    font-size: 13px;
    line-height: normal;
    font-weight: 500;
    cursor: pointer;
  }