*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: system-ui, 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
  }

  .para{
    background-color: #eff4f7;
    text-align: center;
    padding: 2px;
    font-size: 13px;
    line-height: normal;
    font-weight: 500;
    cursor: pointer;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 99;
   
  }
 
#navigation{
  position: sticky;
    width: 100%;
    top: 0;
    z-index: 99;
}

nav img#logo-1{
    position: relative;
    left: 15px;
    width: 100px;
    height: 35px;
}



#navbarSupportedContent{
    position: relative;
    left: 70px;
}



span img#account-1{
    width: 22px;
    height: 22px;
}
span img#account-2{
    width: 35px;
    height: 35px;
}

div.banner-1 img{
  width: 100%;
}

.images-all{

  display: inline-flex;
  padding-top: 20px;

}
div.under-1 img{
  max-width: 50px;
  margin-left: 12em;
 

}
div.under-text p{
  font-size: 14px;

}
div .view-right{
  font-size: 15px;
  float: inline-end;
  position: relative;
  top: 16px;
  right: 35px;
}

.feature-detail{
      display: flex;
     
  }
  

div.paragraph{
  padding: 0px 50px;
  font-size: 30px;
}
#live::after{
  content: "";
  position: absolute;
  bottom: -16.6rem;
  left: 10.7rem;
  width: 25px;
  height: 2px;
  background-color: red;
}

.card-toplist p{
  position: absolute;
  top: 0px;
  background-color: black;
  padding: 0.5px;
  color: #eff4f7;
  width: 95px;
  height: 18px;
  font-size: 10.7px;
  letter-spacing: 0.1px;
  text-align: center;
  border-radius: 4px;
}

div.card{
  flex-grow: 1;
}
.card> img{
  border-radius: 10px;
}
div.box{
  position: relative;
  bottom: 35px;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: row;
  gap: 5px  
  
}

.d-flex{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f6faff;
  padding: 15px;
}


.p-2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f6faff;
  padding: 15px;
}
.p-2 img{
  width: 57px;
  height: 54px;
}
.p-2 p{
  font-size: 14px;
}

.collapse{
  padding: 13px;
}

.card-head{
  display: flex;
}
.card-head p{
  position: absolute;
  top: 0px;
  background-color: black;
  padding: 0.5px;
  color: #eff4f7;
  width: 130px;
  height: 18px;
  font-size: 10.7px;
  letter-spacing: 0.1px;
  text-align: center;
  border-radius: 4px;
}
.card-star{
  display: flex;
  position: relative;
  bottom: 25px;
  background-color: #fcc50b;
  border-radius: 6px;
}
.card-star p{
  position: relative;
  top: 7px;
  left: 4px;
  font-size: 10px;
}
.card-title{
  position: relative;
  bottom: 30px;
  right: 13px;
  font-size: 14.5px;

}

.rating{
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 6px;
  left: 56px;
  background-color: #eff4f7;
  width: 48px;
  height: 18px;
  border-radius: 4px;
  
}

.rating img{
  width: 15px;
  height: 15px;
}
.star-rate{
  display: inline-block;
  font-size: 12px;
}
.dashed-line{
  position: relative;
  bottom: 28px;
  border-top: 1px dashed #a1a1a1;
  margin: 20px 0px;
}
.card-text{
  position: relative;
  bottom: 43px;
  right: 13px;
  font-size: 18px;
}
.through{
  display: flex;
  position: relative;
  bottom: 60px;
}
#through-1{
  position: relative;
  top: 2.5px;
  right: 13px;
  text-decoration: line-through;
  color: #a1a1a1;
  font-size: 11px;
  letter-spacing: 0.6px;

}
#through-2{
  position: relative;
  top: 2.5px;
  color: #12b985;
  font-size: 11px;
}

.banner-image img{
  position: relative;
  bottom: 100px;
  width: 100%;
  padding: 50px;
  height: 35vh
}

#second-paragraph{
  position: relative;
  bottom: 140px;
  padding: 0px 50px;
  font-size: 30px;
}

#live-1::after{
  content: "";
  position: absolute;
  bottom: 2px;
  left: 17.5rem;
  width: 25px;
  height: 2px;
  background-color: red;
}

.second-nav{
  display: flex;
  padding: 45px;
  position: relative;
  bottom: 10rem;
}
.second-nav a{
  font-size: 16px;
}

#nav-item-1{
  font-weight: bold;
}
#nav-item-1 a{
  width: 108px;
  text-align: center;
  background-color: #d1cfcf;
  border-radius: 17px;

}